# virtual environments
.venv/
venv/
env/

# python junk
__pycache__/
*.pyc
.ipynb_checkpoints/

# IDE / OS junk
.vscode/
.idea/
.DS_Store
Thumbs.db

# big raw logs stay OUT of git (share via Drive)
*.BBL
*.bbl
raw_logs/
